transforms/schemas/CCProtectionProfile.rng

<?xml version="1.0" encoding="UTF-8"?>
<grammar ns="http://common-criteria.rhcloud.com/ns/cc" 
	 xmlns="http://relaxng.org/ns/structure/1.0" 
	 datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes"
	 xmlns:htm="http://www.w3.org/1999/xhtml"
	 xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0"
	 >

  <start>
    <element name="PP">
      <a:documentation>Root element for Protection Profile XML document</a:documentation>
      <attribute name="name">
      </attribute>
      <element name="PPReference">
	<a:documentation>
	  A wrapper element for document meta-data.
	</a:documentation>
	
	<optional><attribute name="id">
	  <a:documentation>NOT USED</a:documentation>
	</attribute></optional>

        <attribute name="title">
	  <a:documentation>Unknown usage. Only seen "PP Reference".</a:documentation>
	</attribute>
        <element name="ReferenceTable">
	  <a:documentation>
	    A second wrapper element for document meta-data.
	  </a:documentation>
          <element name="PPTitle">
	    <a:documentation>Title of this document</a:documentation>
            <text/>
          </element>
          <element name="PPVersion">
	    <a:documentation>
	      Version of Common Criteria this document follows.
	      It should be the version listed in the CCPart1/2/3 files consulted.
	      Last known value is "3.1R4".
	    </a:documentation>
            <data type="NMTOKEN"/>
          </element>
          <element name="PPAuthor">
	    <a:documentation>
	      Organization that developed this PP (e.g. National Information Assurance Partnership)
	    </a:documentation>
            <text/>
          </element>
          <element name="PPPubDate">
	    <a:documentation>
	      Date of publication for this PP.
	    </a:documentation>
            <data type="date"/>
          </element>
          <element name="PPCertificationID">
	    <a:documentation>
	      NOT USED. Currently I've only seen 'unassigned' as a value.
	    </a:documentation>
            <data type="NCName"/>
          </element>
          <element name="CCVersion">
	    <a:documentation>
	      Version of Common Criteria PP this meets. 
	      It should match the version described in Part 1, Part 2, and Part 3. 
	      Currently its value is "3.1 R4".
	    </a:documentation>
            <text/>
          </element>
          <element name="Keywords">
	    <a:documentation>
	      NOT USED. A list of keywords associated with this document.
	    </a:documentation>
            <text/>
          </element>
	  <ref name="entry-el"/>
        </element>
      </element>
      <oneOrMore>
        <element name="RevisionHistory">
	  <a:documentation>Documents the major changes to releases.</a:documentation>
          <attribute name="role">
	    <a:documentation>
	      Documents whether the changes listed are release or drafts
	    </a:documentation>
	    <choice><value>final</value><value>draft</value></choice>
	  </attribute>
	  <zeroOrMore>
	    <element name="entry">
	      <a:documentation>Container for individual revisions.</a:documentation>
	      <element name="version">
		<a:documentation>Text describing the revision.</a:documentation>
		<text/>
	      </element>
	      <element name="date">
		<a:documentation>Date of the revision.</a:documentation>
		<data type="date"/>
	      </element>
	      <element name="subject">
		<a:documentation>Description of the revision.</a:documentation>
		<text/>
	      </element>
	    </element>
	  </zeroOrMore>
        </element>
      </oneOrMore>

      <oneOrMore>
        <element name="chapter">
	  <a:documentation>Major grouping for the document.</a:documentation>
	  <ref name="id-attr"/>
	  <ref name="title-attr"/>
          <oneOrMore>
            <choice>
	      <ref name="basic-content"/>
              <ref name="section"/>
              <element name="cclaims">
		<a:documentation>
		  Container element for the individual Conformance Claims.
		</a:documentation>
                <oneOrMore>
                  <element name="cclaim">
		    <a:documentation>
		      Element containing a description of Conformance claims. See CCPART1 section A.5.
		    </a:documentation>
                    <attribute name="id">
		      <a:documentation>
			This is really the title of the section.
		      </a:documentation>
		    </attribute>
                    <ref name="description"/>
                  </element>
                </oneOrMore>
              </element>
            </choice>
          </oneOrMore>
        </element>
      </oneOrMore>
      <oneOrMore>
	<ref name="appendix"/>
      </oneOrMore>
    </element>
  </start>

  <define name="title-attr">
    <a:documentation>
      Pattern for title attribute.
    </a:documentation>
    <attribute name="title">
      <a:documentation>Header that is visible to the user.</a:documentation>
    </attribute>
  </define>
  <define name="id-attr">
    <a:documentation>
      Pattern for the id attribute
    </a:documentation>
    <attribute name="id">
      <a:documentation>A document-wide unique string.</a:documentation>
      <data type="NCName"/>
    </attribute>
  </define>

  <define name="appendix">
    <a:documentation>    
      Pattern for title attribute.
    </a:documentation>
    <element name="appendix">
      <a:documentation>
	Element that defines an appendix.
      </a:documentation>
      <attribute name="id">
	<a:documentation>A document-wide unique string.</a:documentation>
        <data type="NCName"/>
      </attribute>
      <ref name="title-attr"/>
      <oneOrMore>
        <choice>
	  <ref name="basic-content"/>
          <ref name="appref"/>
          <ref name="section"/>
          <element name="acronyms">
	    <a:documentation>
	      Section to define the acronyms used in the document.
	    </a:documentation>
            <oneOrMore>
	      <ref name="entry-el"/>
            </oneOrMore>
          </element>
          <element name="bibliography">
	    <a:documentation>
	      Section to define the items references.
	    </a:documentation>
            <oneOrMore>
              <element name="entry">
		<a:documentation>
		  Groups bibliograph entries.
		</a:documentation>
		<ref name="id-attr"/>
		<element name="tag">
		  <a:documentation>
		    A visible bibliography-wide unique identifier. 
		  </a:documentation>
		  <ref name="basic-content"/>
		</element>
		<ref name="description"/>
	      </element>
            </oneOrMore>
          </element>
        </choice>
      </oneOrMore>
    </element>
  </define>

  <define name="section">
    <element name="section">
      <a:documentation>
	A block smaller than a chapter.
      </a:documentation>
      <ref name="id-attr"/>
      <ref name="title-attr"/>
      <oneOrMore>
        <choice>
	  <ref name="basic-content"/>
          <element name="InsertSPDCorrespondence">
	    <a:documentation>
	      Tags the spot where the table mapping threats 
	      to objectives to requirements should go.
	    </a:documentation>
            <empty/>
          </element>
          <element name="OSPs">
	    <a:documentation>
	      Grouping for Organizational Security Policies
	    </a:documentation>
            <element name="OSP">
	      <a:documentation>
		Entry for each security policy.
	      </a:documentation>
	      <ref name="id-attr"/>
              <ref name="description"/>
              <ref name="objective-refer"/>
            </element>
          </element>
          <element name="SOEs">
	    <a:documentation>
	      Grouping for Security Objectives for the Operational environment.
	    </a:documentation>
            <oneOrMore>
              <element name="SOE">
		<a:documentation>
		  Security Objective for the Operational environment.
		</a:documentation>
		<ref name="id-attr"/>
                <ref name="description"/>
              </element>
            </oneOrMore>
          </element>
          <element name="SOs">
	    <a:documentation>
	      Grouping for Security Objective entries.
	    </a:documentation>
            <oneOrMore>
              <element name="SO">
		<a:documentation>
		  Entry for a security objective
		</a:documentation>
		<ref name="id-attr"/>
		<ref name="description"/>
                <oneOrMore>
                  <element name="component-refer">
		    <a:documentation>
		      Cross-references a component.
		    </a:documentation>
                    <attribute name="ref">
		      <a:documentation>
			Id of the referenced component.
		      </a:documentation>
		    </attribute>
		    <empty/>
                  </element>
                </oneOrMore>
              </element>
            </oneOrMore>
          </element>
          <element name="assumptions">
	    <a:documentation>
	      Grouping of assumptions.
	    </a:documentation>
            <oneOrMore>
              <element name="assumption">
		<a:documentation>
		  Describes assumptions made.
		</a:documentation>
		<attribute name="id">
		  <a:documentation>
		    An assumption-wide unique ID that is also displayed to the user.
		  </a:documentation>
		</attribute>
                <ref name="description"/>
                <ref name="objective-refer"/>
              </element>
            </oneOrMore>
          </element>
          <element name="subsection">
	    <a:documentation>
	      Lower level of grouping
	    </a:documentation>
	    <ref name="id-attr"/>
            <ref name="title-attr"/>
            <oneOrMore>
              <choice>
		<ref name="basic-content"/>
                <element name="a-component">
		  <a:document>
		    Specifies a component under Security Assurance Requirements section.
		  </a:document>
		  <ref name="id-attr"/>
                  <attribute name="name">
		    <a:document>
		      A readable title for this component
		    </a:document>
		  </attribute>
		  <ref name="basic-content"/>
		  <optional>
                    <element name="group">
		      <a:documentation>
			Actions levied on the developer: <i>The developer shall...</i>
		      </a:documentation>
		      <attribute name="type"><value>dev-action</value></attribute>
		      <ref name="a-elements"/>
		    </element>
		  </optional>
		  <optional>
                    <element name="group">
		      <a:documentation>
			Requirements for content and presentation.
		      </a:documentation>
		      <attribute name="type"><value>con-pres</value></attribute>
		      <ref name="a-elements"/>
		    </element>
		  </optional>
		  <optional>
                    <element name="group">
		      <a:documentation>
			Actions levied on the evaluator: <i>The evaluator shall...</i>
		      </a:documentation>
		      <attribute name="type"><value>eval-action</value></attribute>
		      <ref name="a-elements"/>
		    </element>
		  </optional>
                </element>
                <element name="f-component">
		  <a:document>
		    Specifies a component under Security Functional Requirements section..
		  </a:document>
		  <attribute name="id">
		    <a:documentation>
		      A document-wide unique id. Not really read by a person, but it
		      should be the base for its child requirements' ids.
		    </a:documentation>
		  </attribute>
		  <attribute name="name">
		    <a:documentation>
		      Readable title for this requirement.
		    </a:documentation>
		  </attribute>
		  <optional>
		    <attribute name="targetdate">
		      <a:documentation>
			Target date that the requirements under this component become
			manandory. It only makes sense for _objective_ components.
		      </a:documentation>
		      <data type="date"/>
		    </attribute>
		  </optional>
		  <ref name="status"/>
		  <zeroOrMore>
		    <element name="selection-depends">
		      <a:documentation>
			Defines the other requirements whose selection affects whether this component must be also applied.
		      </a:documentation>
		      <attribute name="req">
			<a:documentation>
			  The value of the id attribute of the requirement is component depends on.
			</a:documentation>
			<data type="NCName"/>
		      </attribute>
		    </element>
		  </zeroOrMore>
                  <oneOrMore>
                    <element name="f-element">
		      <a:documentation>
			Defines a functional requirement.
		      </a:documentation>
                      <attribute name="id">
			<a:documentation>
			  A document-wide unique ID that is also displayed to the user. 
			  It should be the base component id  (i.e. no number in parenthesis) plus the number of preceding siblings +1
			</a:documentation>
		      </attribute>
                      <ref name="title"/>
                      <oneOrMore>
                        <choice>
                          <text/>
                          <ref name="aactivity"/>
                          <ref name="assignable"/>
                          <ref name="note"/>
                          <ref name="selectables"/>
                        </choice>
                      </oneOrMore>
                    </element>
                  </oneOrMore>
                </element>
                <element name="glossary">
		  <a:documentation>
		    Section to define terms.
		  </a:documentation>
                  <oneOrMore>
		    <ref name="entry-el"/>
                  </oneOrMore>
                </element>
              </choice>
            </oneOrMore>
          </element>
          <element name="threats">
	    <a:documentation>
	      Wrapper element for various threats.
	    </a:documentation>
            <oneOrMore>
              <element name="threat">
		<a:documentation>
		  Defines a threat.
		</a:documentation>
                <attribute name="id">
                  <data type="NCName">
		    <param name="pattern">T\.[_A-Z0-9]+</param>
		  </data>
                </attribute>
                <ref name="description"/>
                <oneOrMore>
                  <ref name="objective-refer"/>
                </oneOrMore>
              </element>
            </oneOrMore>
          </element>
          <element name="usecases">
	    <a:documentation>
	      Wrapper element for uses cases.
	    </a:documentation>
            <oneOrMore>
              <element name="usecase">
		<a:documentation>
		  A referrable section on how the protection profiled item is used.
		</a:documentation>
		<ref name="id-attr"/>
		<ref name="title-attr"/>
                <ref name="description"/>
              </element>
            </oneOrMore>
          </element>
        </choice>
      </oneOrMore>
    </element>
  </define>
  <define name="description">
    <element name="description">
      <a:documentation>
	A description section. Basically just has basic content and 
      </a:documentation>
      <oneOrMore>
        <choice>
	  <ref name="basic-content"/>
          <element name="InsertAppendixExplainer">
	    <a:documentation>
	      Tag that denotes where an explanation of where the different types (objective, threshold, optional) 
	      of requirements are located.
	    </a:documentation>
	    <empty/>
          </element>
        </choice>
      </oneOrMore>
    </element>
  </define>
  <define name="cite">
    <element name="cite">
      <a:documentation>Cites something in the bibliography.</a:documentation>
      <ref name="linkend-attr"/>
    </element>
  </define>
  <define name="secref">
    <element name="secref">
      <a:documentation>References a section (Adds word 'section').</a:documentation>
      <ref name="linkend-attr"/> 
    </element>
  </define>
  <define name="xref">
    <element name="xref">
      <a:documentation>Cross references something with a title.</a:documentation>
      <ref name="linkend-attr"/>
    </element>
  </define>
  <define name="linkref">
    <element name="linkref">
      <a:documentation>Cross references components </a:documentation>
      <ref name="linkend-attr"/>
    </element>
  </define>
  <define name="appref">
    <element name="appref">
      <a:documentation>Cross references an item in the appendex</a:documentation>
      <ref name="linkend-attr"/>
    </element>
  </define>
  <define name="objective-refer">
    <element name="objective-refer">
      <a:documentation>Element that denotes an objective</a:documentation>
      <attribute name="ref">
	<a:documentation>Attribute the references the id of a specific objective.</a:documentation>
        <data type="NCName">
	  <param name="pattern">O(E?)\.[_A-Z]+</param>
	</data>
      </attribute>
      <element name="rationale">
	<a:documentation>Argument as to why the objective applies</a:documentation>
	<ref name="basic-content"/>
      </element>
    </element>
  </define>

  <define name="aactivity">
    <element name="aactivity">
      <a:documentation>Element containing an Assurance Activity.</a:documentation>
      <ref name="basic-content"/>
    </element>
  </define>

  <define name="title">
    <element name="title">
      <a:documentation>
	Contains the formal wording for the requirement (either for a-elements or f-elements).
	Must match requirements in CC Part 2 (unless it is an _ext requirement).
      </a:documentation>
      <oneOrMore><choice>
	<ref name="basic-content"/>
        <ref name="note"/>
        <element name="management-function-set">
	  <a:documentation>
	    Table defining functions that are to be done and what role is required to do them.
	  </a:documentation>
          <element name="manager">
	    <a:documentation>
	      Readable role name for the administrator.
	    </a:documentation>
            <data type="NCName"/>
          </element>
          <element name="manager">
	    <a:documentation>
	      Readable role name for the user.
	    </a:documentation>
            <data type="NCName"/>
          </element>
          <oneOrMore>
            <element name="management-function">
	      <a:documentation>Describes the management function.</a:documentation>
              <optional>
		<attribute name="admin">
		  <a:documentation>
		    Indicates whether management by the administrator is mandatory or optional
		  </a:documentation>
		  <choice><value>X</value><value>O</value></choice>
		</attribute>
              </optional>
              <optional>
                <attribute name="user">
		  <a:documentation>
		    Indicates whether management by the user is mandatory or optional
		  </a:documentation>
		  <choice><value>X</value><value>O</value></choice>
		</attribute>
	      </optional>
	      <ref name="basic-content"/>
            </element>
          </oneOrMore>
        </element>
      </choice></oneOrMore>
    </element>
  </define>
  <define name="note">
    <element name="note">
      <a:documentation>
	Any further instructions associated with the requirement.
      </a:documentation>
      <optional>
        <attribute name="role">
	  <a:documentation>Indicates who is associated with this role</a:documentation>
	  <choice>
	    <value>application</value><value>Application</value>
	    <value>developer</value><value>Developer</value>
	  </choice>
        </attribute>
      </optional>
      <ref name="basic-content"/>
    </element>
  </define>


  <define name="selectables">
    <element name="selectables">
      <a:documentation>
	A grouping of selectable elements.
      </a:documentation>
      <optional>
        <attribute name="atleastone">
	  <a:documentation>
	    Dictates if the user is suppose to select all that apply
	    or just one.
	  </a:documentation>
	  <choice><value>yes</value></choice>
        </attribute>
      </optional>
      <optional>
        <attribute name="linebreak">
	  <a:documentation>
	    Indicates that new lines should be appended to every selectable.
	  </a:documentation>
	  <choice><value>yes</value></choice>
        </attribute>
      </optional>
      <ref name="selectable-group"/>
    </element>
  </define>

  <define name="assignable">
    <element name="assignable">
      <a:documentation>
	Incidates the beginning of an assignable section.
      </a:documentation>
      <ref name="basic-content"/>
    </element>
  </define>

  <define name="abbr-el">
    <element name="abbr">
      <optional>
	<attribute name="linkend">
	  <a:documentation>
	    Identifies the abbreviation definition (should match the text value of the entry).
	  </a:documentation>
	</attribute>
      </optional>
      <optional>
	<attribute name="title">
	  <a:documentation>
	    Full readable definition of the abbreviation.
	  </a:documentation>
	</attribute>
      </optional>
      <optional>
	<attribute name="class">
	  <a:documentation>
	    Display class associated with this abbreviation.
	  </a:documentation>
	</attribute>
      </optional>
      <text/>
    </element>
  </define>

  <define name="basic-content">
    <a:documentation>
      Content that can go anywhere (Although some items are only suitable for title elements).
    </a:documentation>
    <oneOrMore>
      <choice>
	<text/>
	<ref name="html-element"/>
	<ref name="linkref"/>
        <ref name="cite"/>
        <ref name="secref"/>
        <ref name="testlist"/>
	<ref name="selectables"/>
	<ref name="assignable"/>
        <ref name="appref"/>
	<ref name="abbr-el"/>
	<ref name="xref"/>
        <element name="figure">
	  <a:documentation>
	    Tag allow that inserts a picture.
	  </a:documentation>
          <attribute name="entity">
	    <a:documentation>
	      Path to the image file.
	    </a:documentation>
	  </attribute>
	  <ref name="id-attr"/>
	  <ref name="title-attr"/>
          <optional>
            <attribute name="max-width"/>
          </optional>
        </element>
	<element name="table">
	  <a:documentation>
	    Redefinition of the html table element so that it can include 
	    CC elements.
	  </a:documentation>
	  <optional> 
	    <attribute name="class">
	      <a:documentation>
		Redefinition html class table attribute.
	      </a:documentation>
	    </attribute>
	  </optional>
	  <zeroOrMore>
	    <element name="tr">
	      <a:documentation>
		Redefinition of the tr table element so that it can include 
		CC elements.
	      </a:documentation>
	      <optional><attribute name="class">
		<a:documentation>
		  Redefinition of the class tr attribute.
		</a:documentation>
	      </attribute></optional>
	      <oneOrMore><element name="td">
		<a:documentation>
		  Redefinition of the tr td element so that it can include 
		  CC elements.
		</a:documentation>
		<ref name="basic-content"/>
	      </element></oneOrMore>
	    </element>
	  </zeroOrMore>
	</element>
	<element name="ol">
	  <a:documentation>
	    Redefinition of the html ol element so that it can include 
	    CC elements.
	  </a:documentation>
	  <optional><attribute name="type">
	    <a:documentation>
	      Redefinition of the ol's type attribute.
	    </a:documentation>
	  </attribute></optional>
	  <ref name="li"/>
	</element>
	<element name="ul">
	  <a:documentation>
	    Redefinition of the html ul element so that it can include 
	    CC elements.
	  </a:documentation>
	  <ref name="li"/>
	</element>
        <element name="b">
	  <a:documentation>
	    Redefinition of the html b element so that it can include 
	    CC elements.
	  </a:documentation>
	  <ref name="basic-content"/>
	</element>
        <element name="indent">
	  <a:documentation>
	    Tags that this section should be indented(left) 2em.
	  </a:documentation>
	  <ref name="basic-content"/>
	</element>
	<element name="tss">
	  <a:documentation>
	    Denotes a TSS section.
	  </a:documentation>
	  <ref name="basic-content"></ref>
	</element>
        <element name="guidance">
	  <a:documentation>
	    Denotes a Guidance section.
	  </a:documentation>
          <ref name="basic-content"></ref>
        </element>
	<!-- QQQ: REMOVE -->
        <element name="tests">
	  <a:documentation>
	    Denotes a tests section.
	  </a:documentation>
          <ref name="basic-content"></ref>
        </element>
      </choice>
    </oneOrMore>
  </define>
  

  <!-- 
       These are elements that also exist in the html namespace, but
       since they can have descendents that are in the cc namespace,
       we've declared them here.
  -->
  <define name="li">
    <oneOrMore>
      <element name="li">
	<a:documentation>
	  List Item element in the CC namespace, b/c it can have CC children.
	</a:documentation>
	<ref name="basic-content"/>
      </element>
    </oneOrMore>
  </define>
  <define name="ol">
    <element name="ol">
      <a:documentation>
	Ordered List element in the CC namespace, b/c it can have CC descendants.
      </a:documentation>
      <ref name="li"/>
    </element>
  </define>
  <define name="ul">
    <element name="ul">
      <a:documentation>
	Unordered List element in the CC namespace, b/c it can have CC descendants.
      </a:documentation>
      <ref name="li"/>
    </element>
  </define>

  <define name="a-elements">
    <oneOrMore>
      <element name="a-element">
	<a:documentation>
	  Defines a functional requirement.
	</a:documentation>
	<attribute name="id">
	  <a:documentation>
	    A document-wide unique ID that is also displayed to the user. 
	    It should be the base component id  (i.e. no number in parenthesis) plus the number of preceding siblings +1
	  </a:documentation>
	</attribute>
	<ref name="title"/>
	<optional>
          <ref name="note"/>
	</optional>
	<optional>
          <ref name="aactivity"/>
	</optional>
      </element>
    </oneOrMore>
  </define>

  <define name="testlist">
    <element name="testlist">
      <a:documentation>
	Defines a lists of tests to evaluate a requirement.
      </a:documentation>
      <oneOrMore>
        <choice>
	  <ref name="basic-content"/>
          <element name="test">
	    <a:documentation>
	      Denotes a single test.
	    </a:documentation>
	    <oneOrMore>
	      <choice>
		<ref name="basic-content"/>
		<ref name="testlist"/>
	      </choice>
	    </oneOrMore>
          </element>
        </choice>
      </oneOrMore>
    </element>
  </define>


  <define name="status">
    <attribute name="status">
      <a:documentation>
	Denotes the status of a requirement.
      </a:documentation>
      <choice>
	<value>threshold</value>
	<value>sel-based</value>
	<value>optional</value>
	<value>objective</value>
      </choice>
    </attribute>
  </define>

  <define name="selectable-group">
    <ref name="selectable-single"/>
    <oneOrMore>
      <ref name="selectable-single"/>
    </oneOrMore>
  </define>

  <define name="selectable-single">
    <element name="selectable">
      <a:documentation>
	Denotes the start of a selectable in a selectables section.
      </a:documentation>
      <zeroOrMore>
	<element name="requires">
	  <a:documentation>
	    Denotes a selection-based element that is required should this selection chosen.
	  </a:documentation>
	  <attribute name="req">
	    <a:documentation>
	      The ID of the required element.
	    </a:documentation>
	  </attribute>
	</element>
      </zeroOrMore>
      <ref name="basic-content"/>
    </element>
  </define>

  <define name="linkend-attr">
    <attribute name="linkend">
      <a:documentation>References an ID of the referenced item.</a:documentation>
      <!--      <data type="NCName"/> -->
    </attribute>
  </define>

  <define name="html-element">
    <a:documentation>
      Pattern defines the html-element, which is any element in the xhtml namespace.
      They have no knowledge of the CC element, and so cannot have any CC descendants.
    </a:documentation>
    <element ns="http://www.w3.org/1999/xhtml">
      <anyName>
	<except>
	  <nsName ns="http://common-criteria.rhcloud.com/ns/cc"/>
	</except>
      </anyName>
      <a:documentation>
	Defines all html-elements with an optional number of html attributes and descendants.
      </a:documentation>
      <zeroOrMore>
	<attribute>
	  <anyName/>
	</attribute>
      </zeroOrMore>
      <zeroOrMore>
	<choice>
	  <text/>
	  <ref name="html-element"/>
	</choice>
      </zeroOrMore>
    </element>
  </define>
  
  <define name="entry-el">
    <element name="entry">
      <a:documentation>
	Wrapper for terms and descriptions.
      </a:documentation>
      <choice>
	<element name="name">
	  <a:documentation></a:documentation>
	  <ref name="basic-content"/>
	</element>
	<element name="term">
	  <a:documentation>
	    The characters of the acronym.
	  </a:documentation>
	  <ref name="basic-content"/>
	</element>
      </choice>
      <element name="description">
	<a:documentation>Description of the term/name.</a:documentation>
	<ref name="basic-content"/>
      </element>
    </element>
  </define>

</grammar>
